.card {
    --bs-card-spacer-y: 1.3125rem;
    --bs-card-spacer-x: 1.3125rem;
    --bs-card-title-spacer-y: 0.25rem;
    --bs-card-border-width: 0.0625rem;
    --bs-card-border-color: rgba(231, 234, 243, 0.7);
    --bs-card-border-radius: 0.75rem;
    --bs-card-box-shadow: 0rem 0.375rem 0.75rem rgba(140, 152, 164, 0.075);
    --bs-card-inner-border-radius: 0.6875rem;
    --bs-card-cap-padding-y: 1.3125rem;
    --bs-card-cap-padding-x: 1.3125rem;
    --bs-card-cap-bg: transparent;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1.3125rem 1.3125rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius)
}

.card>hr {
    margin-right: 0;
    margin-left: 0
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius)
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius)
}

.card>.card-header+.list-group,.card>.list-group+.card-footer {
    border-top: 0
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color)
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y)
}

.card-subtitle {
    margin-top: calc(-.5 * var(--bs-card-title-spacer-y));
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link+.card-link {
    margin-left: var(--bs-card-spacer-x)
}

.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color)
}

.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0
}

.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color)
}

.card-footer:last-child {
    border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius)
}

.card-header-tabs {
    margin-right: calc(-.5 * var(--bs-card-cap-padding-x));
    margin-bottom: calc(-1 * var(--bs-card-cap-padding-y));
    margin-left: calc(-.5 * var(--bs-card-cap-padding-x));
    border-bottom: 0
}

.card-header-tabs .nav-link.active {
    background-color: var(--bs-card-bg);
    border-bottom-color: var(--bs-card-bg)
}

.card-header-pills {
    margin-right: calc(-.5 * var(--bs-card-cap-padding-x));
    margin-left: calc(-.5 * var(--bs-card-cap-padding-x))
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--bs-card-img-overlay-padding);
    border-radius: var(--bs-card-inner-border-radius)
}

.card-img,.card-img-bottom,.card-img-top {
    width: 100%
}

.card-img,.card-img-top {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius)
}

.card-img,.card-img-bottom {
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius)
}

.card-group>.card {
    margin-bottom: var(--bs-card-group-margin)
}

@media (min-width: 576px) {
    .card-group {
        display:-ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .card-group>.card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-bottom: 0
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0
    }

    .card-group>.card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .card-group>.card:not(:last-child) .card-header,.card-group>.card:not(:last-child) .card-img-top {
        border-top-right-radius: 0
    }

    .card-group>.card:not(:last-child) .card-footer,.card-group>.card:not(:last-child) .card-img-bottom {
        border-bottom-right-radius: 0
    }

    .card-group>.card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .card-group>.card:not(:first-child) .card-header,.card-group>.card:not(:first-child) .card-img-top {
        border-top-left-radius: 0
    }

    .card-group>.card:not(:first-child) .card-footer,.card-group>.card:not(:first-child) .card-img-bottom {
        border-bottom-left-radius: 0
    }
}

.accordion {
    --bs-accordion-color: #000;
    --bs-accordion-bg: #fff;
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    --bs-accordion-border-color: rgba(231, 234, 243, 0.7);
    --bs-accordion-border-width: 0.0625rem;
    --bs-accordion-border-radius: 0.5rem;
    --bs-accordion-inner-border-radius: 0.4375rem;
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 0.75rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23132144'%3e%3cpath d='M19,11.5v1a.5.5,0,0,1-.5.5H13v5.5a.5.5,0,0,1-.5.5h-1a.5.5,0,0,1-.5-.5V13H5.5a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5H11V5.5a.5.5,0,0,1,.5-.5h1a.5.5,0,0,1,.5.5V11h5.5A.5.5,0,0,1,19,11.5Z'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width: 1rem;
    --bs-accordion-btn-icon-transform: rotate(0deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23377dff'%3e%3cpath d='M5.5,13a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5h13a.5.5,0,0,1,.5.5v1a.5.5,0,0,1-.5.5Z'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-border-color: rgba(140, 152, 164, 0.25);
    --bs-accordion-btn-focus-box-shadow: 0 0 1rem 0 rgba(140, 152, 164, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 0.75rem;
    --bs-accordion-active-color: #3271e6;
    --bs-accordion-active-bg: #fff
}

.accordion-button {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: .875rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition)
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button {
        transition: none
    }
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color)
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    -webkit-transform: var(--bs-accordion-btn-icon-transform);
    transform: var(--bs-accordion-btn-icon-transform)
}

.accordion-button::after {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition)
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button::after {
        transition: none
    }
}

.accordion-button:hover {
    z-index: 2
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow)
}

.accordion-header {
    margin-bottom: 0
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color)
}

.accordion-item:first-of-type {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius)
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius)
}

.accordion-item:not(:first-of-type) {
    border-top: 0
}

.accordion-item:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius)
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
    border-bottom-left-radius: var(--bs-accordion-inner-border-radius)
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius)
}

.accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x)
}

.accordion-flush .accordion-collapse {
    border-width: 0
}

.accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0
}

.accordion-flush .accordion-item:first-child {
    border-top: 0
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 0
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0
}

.form-label {
    margin-bottom: .5rem;
    font-size: .875rem;
    color: #1e2022
}

.col-form-label {
    padding-top: .675rem;
    padding-bottom: .675rem;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    color: #1e2022
}

.col-form-label-lg {
    padding-top: .8125rem;
    padding-bottom: .8125rem;
    font-size: .875rem
}

.col-form-label-sm {
    padding-top: .5625rem;
    padding-bottom: .5625rem;
    font-size: .8125rem
}

.form-text {
    margin-top: 1rem;
    font-size: .875em;
    color: #8c98a4
}
.form-control {
    display: block;
    width: 100%;
    padding: .6125rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e2022;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid rgba(231,234,243,.7);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .3125rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control[type=file] {
    overflow: hidden
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-control:focus {
    color: #1e2022;
    background-color: #fff;
    border-color: rgba(140,152,164,.25);
    outline: 0;
    box-shadow: 0 0 1rem 0 rgba(140,152,164,.25)
}

.form-control::-webkit-date-and-time-value {
    height: 1.5em
}

.form-control::-webkit-input-placeholder {
    color: #8c98a4;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #8c98a4;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #8c98a4;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #8c98a4;
    opacity: 1
}

.form-control::placeholder {
    color: #8c98a4;
    opacity: 1
}

.form-control:disabled {
    background-color: #f8fafd;
    opacity: 1
}

.form-control::-webkit-file-upload-button {
    padding: .6125rem 1rem;
    margin: -.6125rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end:1rem;color: #1e2022;
    background-color: #fff;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width:.0625rem;border-radius: 0;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control::file-selector-button {
    padding: .6125rem 1rem;
    margin: -.6125rem -1rem;
    -webkit-margin-end: 1rem;
    -moz-margin-end: 1rem;
    margin-inline-end:1rem;color: #1e2022;
    background-color: #fff;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width:.0625rem;border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none
    }

    .form-control::file-selector-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #f2f2f2
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #f2f2f2
}

.tom-select-custom .input-group-sm>.ts-wrapper .ts-control.has-items,.tom-select-custom .ts-wrapper.form-control-sm .ts-control.has-items,.tom-select-custom .ts-wrapper.form-select-sm .ts-control.has-items {
    padding: .5rem 2.25rem .5rem 1rem
}

.tom-select-custom .input-group-lg>.ts-wrapper>.ts-control,.tom-select-custom .ts-wrapper.form-control-lg .ts-control,.tom-select-custom .ts-wrapper.form-select-lg .ts-control {
    padding: .75rem 2.25rem .75rem 1rem
}

.tom-select-custom .hs-select-single-multiple .item {
    display: none!important
}

.tom-select-custom .ts-wrapper.form-select .ts-control,.tom-select-custom .ts-wrapper.multi .ts-control.has-items.hs-select-single-multiple {
    padding: .6125rem 2.25rem .6125rem 1rem
}

.tom-select-custom .ts-wrapper.form-select .ts-control .tom-select-custom-hide,.tom-select-custom .ts-wrapper.multi .ts-control.has-items.hs-select-single-multiple .tom-select-custom-hide {
    display: none
}

.tom-select-custom .ts-wrapper.form-select .ts-control .focus,.tom-select-custom .ts-wrapper.form-select .ts-control:focus,.tom-select-custom .ts-wrapper.multi .ts-control.has-items.hs-select-single-multiple .focus,.tom-select-custom .ts-wrapper.multi .ts-control.has-items.hs-select-single-multiple:focus {
    box-shadow: none
}

.tom-select-custom .ts-control,.tom-select-custom .ts-control input,.tom-select-custom .ts-dropdown {
    color: #677788
}

.tom-select-custom .ts-dropdown,.tom-select-custom .ts-dropdown.form-control,.tom-select-custom .ts-dropdown.form-select {
    background-color: #fff;
    border: .0625rem solid rgba(231,234,243,.7);
    border-radius: .3125rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075)
}

.tom-select-custom .ts-dropdown .active,.tom-select-custom .ts-dropdown .create:hover,.tom-select-custom .ts-dropdown .option:hover {
    color: #1e2022;
    background-color: rgba(189,197,209,.3)
}

.tom-select-custom .ts-dropdown .create,.tom-select-custom .ts-dropdown .no-results,.tom-select-custom .ts-dropdown .optgroup-header,.tom-select-custom .ts-dropdown .option {
    padding: .5rem 2.5rem .5rem 1rem
}

.tom-select-custom .ts-dropdown .option {
    position: relative
}

.tom-select-custom .ts-dropdown .option::after {
    display: none;
    position: absolute;
    top: 50%;
    right: .5rem;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110 110' fill='%23377dff'%3e%3cpath d='M98.1,16.2c-2.5-2.3-6.4-2.2-8.7,0.2L36.7,70.1l-13-15.5c-2.9-3.5-7.9-4.1-11.1-1.4c-2.9,2.4-3.5,6.6-1.4,10.1l16.5,28c3.2,5.4,10.8,5.8,14.5,0.8l56.5-67.3C100.7,22.1,100.4,18.5,98.1,16.2z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1rem 1rem;
    content: "";
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.tom-select-custom .ts-dropdown .option.selected::after {
    display: block
}

.tom-select-custom .ts-control,.tom-select-custom .ts-wrapper.single .ts-control.input-active {
    cursor: pointer
}

.tom-select-custom .ts-control.focus {
    box-shadow: none
}

.tom-select-custom .input-group>.form-select,.tom-select-custom .input-group>.ts-wrapper {
    -ms-flex-positive: unset;
    flex-grow: unset
}

.tom-select-custom .input-group>.form-select {
    width: auto
}

.tom-select-custom .ts-wrapper {
    display: inline-block
}

.tom-select-custom .ts-dropdown .optgroup-header {
    font-weight: 700;
    color: #000
}

.tom-select-custom .ts-dropdown .optgroup:before {
    display: none
}

.tom-select-custom .ts-dropdown .optgroup .option {
    padding-left: 1.5rem
}

.tom-select-custom .ts-wrapper.multi .ts-control>div {
    color: #1e2022;
    background-color: #e7eaf3;
    font-size: .875rem;
    padding: .28rem .875rem;
    border-radius: 4px
}

.tom-select-custom .ts-wrapper.multi .ts-control>.ts-custom-placeholder {
    background-color: transparent
}

.tom-select-custom .ts-wrapper.plugin-remove_button .item .remove {
    border-left: none;
    color: #8c98a4
}

.tom-select-custom .ts-wrapper.plugin-remove_button .item .remove:hover {
    background: 0 0;
    color: #377dff
}

.tom-select-custom .plugin-dropdown_input .dropdown-input-wrap {
    padding: .4rem
}

.tom-select-custom .plugin-dropdown_input .dropdown-input-wrap .dropdown-input {
    color: #1e2022;
    border: .0625rem solid rgba(231,234,243,.7);
    border-radius: .3125rem
}

.tom-select-custom .plugin-dropdown_input .dropdown-input-wrap .dropdown-input:focus {
    color: #1e2022
}

.tom-select-custom .plugin-dropdown_input .dropdown-input-wrap .dropdown-input::-webkit-input-placeholder {
    color: #8c98a4;
    opacity: 1
}

.tom-select-custom .plugin-dropdown_input .dropdown-input-wrap .dropdown-input::-moz-placeholder {
    color: #8c98a4;
    opacity: 1
}

.tom-select-custom .plugin-dropdown_input .dropdown-input-wrap .dropdown-input:-ms-input-placeholder {
    color: #8c98a4;
    opacity: 1
}

.tom-select-custom .plugin-dropdown_input .dropdown-input-wrap .dropdown-input::-ms-input-placeholder {
    color: #8c98a4;
    opacity: 1
}

.tom-select-custom .plugin-dropdown_input .dropdown-input-wrap .dropdown-input::placeholder {
    color: #8c98a4;
    opacity: 1
}

.tom-select-custom .ts-custom-placeholder,.tom-select-custom .ts-selected-count {
    color: #8c98a4!important
}

.tom-select-custom-end .ts-dropdown {
    left: auto;
    right: 0;
    text-align: left
}

@media (min-width: 576px) {
    .tom-select-custom-sm-end .ts-dropdown {
        left:auto;
        right: 0;
        text-align: left
    }
}

@media (min-width: 768px) {
    .tom-select-custom-md-end .ts-dropdown {
        left:auto;
        right: 0;
        text-align: left
    }
}

@media (min-width: 992px) {
    .tom-select-custom-lg-end .ts-dropdown {
        left:auto;
        right: 0;
        text-align: left
    }
}

@media (min-width: 1200px) {
    .tom-select-custom-xl-end .ts-dropdown {
        left:auto;
        right: 0;
        text-align: left
    }
}

@media (min-width: 1400px) {
    .tom-select-custom-xxl-end .ts-dropdown {
        left:auto;
        right: 0;
        text-align: left
    }
}

.tom-select-custom-with-tags .tom-select-custom .ts-wrapper.multi .ts-control.has-items.hs-select-single-multiple,.tom-select-custom-with-tags .ts-wrapper.form-select .ts-control {
    padding: calc(.375rem - 1px - 0px) .75rem calc(.375rem - 1px - 4px - 0px)
}