/* css modify for admin */
.blk-center__box label.error {
    text-align: left;
    color: #c30c0c;
    margin: 15px 0;
    font-size: 12px;
    font-weight: unset;
    display: inline-block;
    width: 100%;
}
.blk-center__box .message.error{
    color: #c30c0c;
    margin: 0 0 15px;
    font-size: 12px;
    text-align: center;
}
.editor-full{
    display: inline-block;
    width: 100%;
    min-height: 200px;
}
.form-block .input-upload {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 5px 10px;
  }
  .form-block .input-upload .icon {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 130%;
    text-align: center;
    background: #47bac1;
    border-radius: 4px;
  }
  @media (any-hover: hover) {
    .form-block .input-upload .icon:hover {
      cursor: pointer;
      background: #3cacb2;
    }
  }
  .form-block .input-upload .file-select input[type="file"] {
    display: none;
  }
  .form-block .input-upload .file-name {
    padding: 10px;
    width: calc(100% - 50px);
    max-width: 300px;
    background: #f0f4f8;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
  }
  .form-block .input-upload .file-name .js-upload-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .form-block .input-upload--single {
    max-width: 400px;
  }
  .form-block #preview img {
    width: 100px;
    border: 1px solid #ccc;
  }
  .form-block .input-name {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
  }
  .form-block .input-upload .file-name .js-upload-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
/*end css modify for admin */